
@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap'); */
.btn {
  background: linear-gradient(
    92.23deg,
    #cccccc 21.43%, /* Grey color */
    #888888 50.63%, /* Grey color */
    #333333 100%, /* Dark grey color */
    #444444 117.04% /* Darker grey color */
  );
  box-shadow: 0px 4.42184px 107.23px rgba(204, 204, 204, 0.51);
}

.btn:hover {
  background: linear-gradient(
    92.23deg,
    #444444 21.43%, /* Darker grey color */
    #333333 50.63%, /* Dark grey color */
    #888888 100%, /* Grey color */
    #cccccc 117.04% /* Grey color */
  );
}

.gradient,
.active {
  background: linear-gradient(
    92.23deg,
    #444444 21.43%, /* Darker grey color */
    #333333 50.63%, /* Dark grey color */
    #888888 100%, /* Grey color */
    #cccccc 117.04% /* Grey color */
  );
}


.active {
  color: #fff;
  padding: 1rem;
  border-radius: 100%;
}


